body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
}

#a-links {
    text-decoration: none;
    color: black;
}

#a-links:hover {
    color: red;
}

/* On the main nav bar */
#little-logo {
    width: 30px;
}

/* center the little h&m icon */
#little-icon {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
